body {
  background: linear-gradient(281deg, #a404c8, #fd673b, #8c37ee);
  background-size: 600% 600%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.let_Alina_scroll_the_page {
  text-align: center;
  color: #fff;
  padding-top: 5%;
}
.let_Alina_scroll_the_page p {
  font-size: 10vh;
  font-weight: 700;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.mouse {
  width: 50px;
  height: 90px;
  margin: 30px auto;
  border: 3px solid #fff;
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
#hb-banner {
  position: fixed;
  width: 70%;
  top: -240px;
  left: 50%;
  margin-left: -35%;
  opacity: 0;
  animation-duration: 2s;
}
#hb-banner.show {
  opacity: 1;
}

.cake-for-alina {
  position: fixed;
  width: 250px;
  top: 30%;
  left: 50%;
  margin-left: -125px;
  transform: scale(0);
}

h1 {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: -300px;
  left: 50%;
  margin: 0;
  font-size: 20vh;
  font-weight: 700;
  transform: translateX(-50%);
  color: white;
  z-index: 111;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.7));
}
h1 span {
  background: url("../img/balls.jpg");
  background-size: auto 400%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 12s linear infinite;
}
@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 23px -212.6666666667px hsl(88deg, 100%, 50%), 224px -303.6666666667px hsl(113deg, 100%, 50%), 28px -8.6666666667px hsl(227deg, 100%, 50%), 62px -4.6666666667px hsl(189deg, 100%, 50%), 211px 56.3333333333px hsl(154deg, 100%, 50%), -90px -329.6666666667px hsl(271deg, 100%, 50%), -225px -264.6666666667px hsl(342deg, 100%, 50%), -90px -94.6666666667px hsl(111deg, 100%, 50%), -2px 53.3333333333px hsl(204deg, 100%, 50%), -17px -306.6666666667px hsl(359deg, 100%, 50%), 98px 58.3333333333px hsl(357deg, 100%, 50%), -99px -90.6666666667px hsl(129deg, 100%, 50%), 242px -303.6666666667px hsl(36deg, 100%, 50%), 58px -152.6666666667px hsl(184deg, 100%, 50%), 117px -21.6666666667px hsl(115deg, 100%, 50%), -77px -12.6666666667px hsl(254deg, 100%, 50%), 91px -75.6666666667px hsl(112deg, 100%, 50%), -156px -345.6666666667px hsl(289deg, 100%, 50%), -82px 20.3333333333px hsl(166deg, 100%, 50%), 228px -208.6666666667px hsl(219deg, 100%, 50%), -223px -267.6666666667px hsl(102deg, 100%, 50%), -183px -299.6666666667px hsl(268deg, 100%, 50%), 72px -268.6666666667px hsl(81deg, 100%, 50%), -115px -314.6666666667px hsl(332deg, 100%, 50%), 44px -315.6666666667px hsl(190deg, 100%, 50%), 156px -92.6666666667px hsl(104deg, 100%, 50%), -168px -325.6666666667px hsl(210deg, 100%, 50%), 145px 11.3333333333px hsl(147deg, 100%, 50%), -79px -315.6666666667px hsl(293deg, 100%, 50%), 93px -218.6666666667px hsl(350deg, 100%, 50%), 28px -398.6666666667px hsl(66deg, 100%, 50%), 62px 30.3333333333px hsl(175deg, 100%, 50%), 188px -147.6666666667px hsl(251deg, 100%, 50%), -93px -269.6666666667px hsl(146deg, 100%, 50%), 92px -269.6666666667px hsl(126deg, 100%, 50%), 200px -407.6666666667px hsl(99deg, 100%, 50%), 103px 20.3333333333px hsl(27deg, 100%, 50%), -111px 60.3333333333px hsl(176deg, 100%, 50%), 235px 13.3333333333px hsl(266deg, 100%, 50%), 213px -414.6666666667px hsl(218deg, 100%, 50%), -213px -100.6666666667px hsl(305deg, 100%, 50%), 225px -291.6666666667px hsl(126deg, 100%, 50%), -78px -333.6666666667px hsl(327deg, 100%, 50%), -229px -65.6666666667px hsl(71deg, 100%, 50%), 59px -180.6666666667px hsl(66deg, 100%, 50%), -215px -251.6666666667px hsl(245deg, 100%, 50%), 174px -38.6666666667px hsl(290deg, 100%, 50%), -192px -141.6666666667px hsl(13deg, 100%, 50%), 231px -346.6666666667px hsl(138deg, 100%, 50%), 122px -111.6666666667px hsl(202deg, 100%, 50%), -71px -262.6666666667px hsl(129deg, 100%, 50%);
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 23px -212.6666666667px hsl(88deg, 100%, 50%), 224px -303.6666666667px hsl(113deg, 100%, 50%), 28px -8.6666666667px hsl(227deg, 100%, 50%), 62px -4.6666666667px hsl(189deg, 100%, 50%), 211px 56.3333333333px hsl(154deg, 100%, 50%), -90px -329.6666666667px hsl(271deg, 100%, 50%), -225px -264.6666666667px hsl(342deg, 100%, 50%), -90px -94.6666666667px hsl(111deg, 100%, 50%), -2px 53.3333333333px hsl(204deg, 100%, 50%), -17px -306.6666666667px hsl(359deg, 100%, 50%), 98px 58.3333333333px hsl(357deg, 100%, 50%), -99px -90.6666666667px hsl(129deg, 100%, 50%), 242px -303.6666666667px hsl(36deg, 100%, 50%), 58px -152.6666666667px hsl(184deg, 100%, 50%), 117px -21.6666666667px hsl(115deg, 100%, 50%), -77px -12.6666666667px hsl(254deg, 100%, 50%), 91px -75.6666666667px hsl(112deg, 100%, 50%), -156px -345.6666666667px hsl(289deg, 100%, 50%), -82px 20.3333333333px hsl(166deg, 100%, 50%), 228px -208.6666666667px hsl(219deg, 100%, 50%), -223px -267.6666666667px hsl(102deg, 100%, 50%), -183px -299.6666666667px hsl(268deg, 100%, 50%), 72px -268.6666666667px hsl(81deg, 100%, 50%), -115px -314.6666666667px hsl(332deg, 100%, 50%), 44px -315.6666666667px hsl(190deg, 100%, 50%), 156px -92.6666666667px hsl(104deg, 100%, 50%), -168px -325.6666666667px hsl(210deg, 100%, 50%), 145px 11.3333333333px hsl(147deg, 100%, 50%), -79px -315.6666666667px hsl(293deg, 100%, 50%), 93px -218.6666666667px hsl(350deg, 100%, 50%), 28px -398.6666666667px hsl(66deg, 100%, 50%), 62px 30.3333333333px hsl(175deg, 100%, 50%), 188px -147.6666666667px hsl(251deg, 100%, 50%), -93px -269.6666666667px hsl(146deg, 100%, 50%), 92px -269.6666666667px hsl(126deg, 100%, 50%), 200px -407.6666666667px hsl(99deg, 100%, 50%), 103px 20.3333333333px hsl(27deg, 100%, 50%), -111px 60.3333333333px hsl(176deg, 100%, 50%), 235px 13.3333333333px hsl(266deg, 100%, 50%), 213px -414.6666666667px hsl(218deg, 100%, 50%), -213px -100.6666666667px hsl(305deg, 100%, 50%), 225px -291.6666666667px hsl(126deg, 100%, 50%), -78px -333.6666666667px hsl(327deg, 100%, 50%), -229px -65.6666666667px hsl(71deg, 100%, 50%), 59px -180.6666666667px hsl(66deg, 100%, 50%), -215px -251.6666666667px hsl(245deg, 100%, 50%), 174px -38.6666666667px hsl(290deg, 100%, 50%), -192px -141.6666666667px hsl(13deg, 100%, 50%), 231px -346.6666666667px hsl(138deg, 100%, 50%), 122px -111.6666666667px hsl(202deg, 100%, 50%), -71px -262.6666666667px hsl(129deg, 100%, 50%);
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 23px -212.6666666667px hsl(88deg, 100%, 50%), 224px -303.6666666667px hsl(113deg, 100%, 50%), 28px -8.6666666667px hsl(227deg, 100%, 50%), 62px -4.6666666667px hsl(189deg, 100%, 50%), 211px 56.3333333333px hsl(154deg, 100%, 50%), -90px -329.6666666667px hsl(271deg, 100%, 50%), -225px -264.6666666667px hsl(342deg, 100%, 50%), -90px -94.6666666667px hsl(111deg, 100%, 50%), -2px 53.3333333333px hsl(204deg, 100%, 50%), -17px -306.6666666667px hsl(359deg, 100%, 50%), 98px 58.3333333333px hsl(357deg, 100%, 50%), -99px -90.6666666667px hsl(129deg, 100%, 50%), 242px -303.6666666667px hsl(36deg, 100%, 50%), 58px -152.6666666667px hsl(184deg, 100%, 50%), 117px -21.6666666667px hsl(115deg, 100%, 50%), -77px -12.6666666667px hsl(254deg, 100%, 50%), 91px -75.6666666667px hsl(112deg, 100%, 50%), -156px -345.6666666667px hsl(289deg, 100%, 50%), -82px 20.3333333333px hsl(166deg, 100%, 50%), 228px -208.6666666667px hsl(219deg, 100%, 50%), -223px -267.6666666667px hsl(102deg, 100%, 50%), -183px -299.6666666667px hsl(268deg, 100%, 50%), 72px -268.6666666667px hsl(81deg, 100%, 50%), -115px -314.6666666667px hsl(332deg, 100%, 50%), 44px -315.6666666667px hsl(190deg, 100%, 50%), 156px -92.6666666667px hsl(104deg, 100%, 50%), -168px -325.6666666667px hsl(210deg, 100%, 50%), 145px 11.3333333333px hsl(147deg, 100%, 50%), -79px -315.6666666667px hsl(293deg, 100%, 50%), 93px -218.6666666667px hsl(350deg, 100%, 50%), 28px -398.6666666667px hsl(66deg, 100%, 50%), 62px 30.3333333333px hsl(175deg, 100%, 50%), 188px -147.6666666667px hsl(251deg, 100%, 50%), -93px -269.6666666667px hsl(146deg, 100%, 50%), 92px -269.6666666667px hsl(126deg, 100%, 50%), 200px -407.6666666667px hsl(99deg, 100%, 50%), 103px 20.3333333333px hsl(27deg, 100%, 50%), -111px 60.3333333333px hsl(176deg, 100%, 50%), 235px 13.3333333333px hsl(266deg, 100%, 50%), 213px -414.6666666667px hsl(218deg, 100%, 50%), -213px -100.6666666667px hsl(305deg, 100%, 50%), 225px -291.6666666667px hsl(126deg, 100%, 50%), -78px -333.6666666667px hsl(327deg, 100%, 50%), -229px -65.6666666667px hsl(71deg, 100%, 50%), 59px -180.6666666667px hsl(66deg, 100%, 50%), -215px -251.6666666667px hsl(245deg, 100%, 50%), 174px -38.6666666667px hsl(290deg, 100%, 50%), -192px -141.6666666667px hsl(13deg, 100%, 50%), 231px -346.6666666667px hsl(138deg, 100%, 50%), 122px -111.6666666667px hsl(202deg, 100%, 50%), -71px -262.6666666667px hsl(129deg, 100%, 50%);
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 23px -212.6666666667px hsl(88deg, 100%, 50%), 224px -303.6666666667px hsl(113deg, 100%, 50%), 28px -8.6666666667px hsl(227deg, 100%, 50%), 62px -4.6666666667px hsl(189deg, 100%, 50%), 211px 56.3333333333px hsl(154deg, 100%, 50%), -90px -329.6666666667px hsl(271deg, 100%, 50%), -225px -264.6666666667px hsl(342deg, 100%, 50%), -90px -94.6666666667px hsl(111deg, 100%, 50%), -2px 53.3333333333px hsl(204deg, 100%, 50%), -17px -306.6666666667px hsl(359deg, 100%, 50%), 98px 58.3333333333px hsl(357deg, 100%, 50%), -99px -90.6666666667px hsl(129deg, 100%, 50%), 242px -303.6666666667px hsl(36deg, 100%, 50%), 58px -152.6666666667px hsl(184deg, 100%, 50%), 117px -21.6666666667px hsl(115deg, 100%, 50%), -77px -12.6666666667px hsl(254deg, 100%, 50%), 91px -75.6666666667px hsl(112deg, 100%, 50%), -156px -345.6666666667px hsl(289deg, 100%, 50%), -82px 20.3333333333px hsl(166deg, 100%, 50%), 228px -208.6666666667px hsl(219deg, 100%, 50%), -223px -267.6666666667px hsl(102deg, 100%, 50%), -183px -299.6666666667px hsl(268deg, 100%, 50%), 72px -268.6666666667px hsl(81deg, 100%, 50%), -115px -314.6666666667px hsl(332deg, 100%, 50%), 44px -315.6666666667px hsl(190deg, 100%, 50%), 156px -92.6666666667px hsl(104deg, 100%, 50%), -168px -325.6666666667px hsl(210deg, 100%, 50%), 145px 11.3333333333px hsl(147deg, 100%, 50%), -79px -315.6666666667px hsl(293deg, 100%, 50%), 93px -218.6666666667px hsl(350deg, 100%, 50%), 28px -398.6666666667px hsl(66deg, 100%, 50%), 62px 30.3333333333px hsl(175deg, 100%, 50%), 188px -147.6666666667px hsl(251deg, 100%, 50%), -93px -269.6666666667px hsl(146deg, 100%, 50%), 92px -269.6666666667px hsl(126deg, 100%, 50%), 200px -407.6666666667px hsl(99deg, 100%, 50%), 103px 20.3333333333px hsl(27deg, 100%, 50%), -111px 60.3333333333px hsl(176deg, 100%, 50%), 235px 13.3333333333px hsl(266deg, 100%, 50%), 213px -414.6666666667px hsl(218deg, 100%, 50%), -213px -100.6666666667px hsl(305deg, 100%, 50%), 225px -291.6666666667px hsl(126deg, 100%, 50%), -78px -333.6666666667px hsl(327deg, 100%, 50%), -229px -65.6666666667px hsl(71deg, 100%, 50%), 59px -180.6666666667px hsl(66deg, 100%, 50%), -215px -251.6666666667px hsl(245deg, 100%, 50%), 174px -38.6666666667px hsl(290deg, 100%, 50%), -192px -141.6666666667px hsl(13deg, 100%, 50%), 231px -346.6666666667px hsl(138deg, 100%, 50%), 122px -111.6666666667px hsl(202deg, 100%, 50%), -71px -262.6666666667px hsl(129deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 23px -212.6666666667px hsl(88deg, 100%, 50%), 224px -303.6666666667px hsl(113deg, 100%, 50%), 28px -8.6666666667px hsl(227deg, 100%, 50%), 62px -4.6666666667px hsl(189deg, 100%, 50%), 211px 56.3333333333px hsl(154deg, 100%, 50%), -90px -329.6666666667px hsl(271deg, 100%, 50%), -225px -264.6666666667px hsl(342deg, 100%, 50%), -90px -94.6666666667px hsl(111deg, 100%, 50%), -2px 53.3333333333px hsl(204deg, 100%, 50%), -17px -306.6666666667px hsl(359deg, 100%, 50%), 98px 58.3333333333px hsl(357deg, 100%, 50%), -99px -90.6666666667px hsl(129deg, 100%, 50%), 242px -303.6666666667px hsl(36deg, 100%, 50%), 58px -152.6666666667px hsl(184deg, 100%, 50%), 117px -21.6666666667px hsl(115deg, 100%, 50%), -77px -12.6666666667px hsl(254deg, 100%, 50%), 91px -75.6666666667px hsl(112deg, 100%, 50%), -156px -345.6666666667px hsl(289deg, 100%, 50%), -82px 20.3333333333px hsl(166deg, 100%, 50%), 228px -208.6666666667px hsl(219deg, 100%, 50%), -223px -267.6666666667px hsl(102deg, 100%, 50%), -183px -299.6666666667px hsl(268deg, 100%, 50%), 72px -268.6666666667px hsl(81deg, 100%, 50%), -115px -314.6666666667px hsl(332deg, 100%, 50%), 44px -315.6666666667px hsl(190deg, 100%, 50%), 156px -92.6666666667px hsl(104deg, 100%, 50%), -168px -325.6666666667px hsl(210deg, 100%, 50%), 145px 11.3333333333px hsl(147deg, 100%, 50%), -79px -315.6666666667px hsl(293deg, 100%, 50%), 93px -218.6666666667px hsl(350deg, 100%, 50%), 28px -398.6666666667px hsl(66deg, 100%, 50%), 62px 30.3333333333px hsl(175deg, 100%, 50%), 188px -147.6666666667px hsl(251deg, 100%, 50%), -93px -269.6666666667px hsl(146deg, 100%, 50%), 92px -269.6666666667px hsl(126deg, 100%, 50%), 200px -407.6666666667px hsl(99deg, 100%, 50%), 103px 20.3333333333px hsl(27deg, 100%, 50%), -111px 60.3333333333px hsl(176deg, 100%, 50%), 235px 13.3333333333px hsl(266deg, 100%, 50%), 213px -414.6666666667px hsl(218deg, 100%, 50%), -213px -100.6666666667px hsl(305deg, 100%, 50%), 225px -291.6666666667px hsl(126deg, 100%, 50%), -78px -333.6666666667px hsl(327deg, 100%, 50%), -229px -65.6666666667px hsl(71deg, 100%, 50%), 59px -180.6666666667px hsl(66deg, 100%, 50%), -215px -251.6666666667px hsl(245deg, 100%, 50%), 174px -38.6666666667px hsl(290deg, 100%, 50%), -192px -141.6666666667px hsl(13deg, 100%, 50%), 231px -346.6666666667px hsl(138deg, 100%, 50%), 122px -111.6666666667px hsl(202deg, 100%, 50%), -71px -262.6666666667px hsl(129deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
.loader {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(133deg, #541bbd, #e12209);
  background-size: 400% 400%;
  -webkit-animation: preloaderBgAnim 6s ease infinite;
  -moz-animation: preloaderBgAnim 6s ease infinite;
  animation: preloaderBgAnim 6s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

@-webkit-keyframes preloaderBgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes preloaderBgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes preloaderBgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=style.css.map */