body {
  background: linear-gradient(281deg, #a404c8, #fd673b, #8c37ee);
  background-size: 600% 600%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

section {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.let_Alina_scroll_the_page {
  text-align: center;
  color: #fff;
  padding-top: 5%;
}
.let_Alina_scroll_the_page p {
  font-size: 10vh;
  font-weight: 700;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.mouse {
  width: 50px;
  height: 90px;
  margin: 30px auto;
  border: 3px solid #fff;
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
#hb-banner {
  position: fixed;
  width: 70%;
  top: -240px;
  left: 50%;
  margin-left: -35%;
  opacity: 0;
  animation-duration: 2s;
}
#hb-banner.show {
  opacity: 1;
}

.cake-for-alina {
  position: fixed;
  width: 250px;
  top: 45%;
  left: 50%;
  margin-left: -125px;
  transform: scale(0);
}

h1 {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: -300px;
  left: 50%;
  margin: 0;
  font-size: 17vh;
  font-weight: 700;
  transform: translateX(-50%);
  color: white;
  z-index: 111;
  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.7));
}
h1 span {
  background: url("../img/balls.jpg");
  background-size: auto 400%;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 12s linear infinite;
}
@keyframes shine {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 200%;
  }
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 141px -266.6666666667px hsl(337deg, 100%, 50%), 108px -47.6666666667px hsl(194deg, 100%, 50%), -227px -349.6666666667px hsl(269deg, 100%, 50%), -8px -196.6666666667px hsl(344deg, 100%, 50%), 122px -83.6666666667px hsl(195deg, 100%, 50%), -104px -246.6666666667px hsl(297deg, 100%, 50%), 36px -92.6666666667px hsl(239deg, 100%, 50%), 31px -39.6666666667px hsl(33deg, 100%, 50%), 71px -282.6666666667px hsl(189deg, 100%, 50%), 73px -48.6666666667px hsl(243deg, 100%, 50%), -72px 0.3333333333px hsl(48deg, 100%, 50%), 30px -284.6666666667px hsl(268deg, 100%, 50%), 147px -115.6666666667px hsl(354deg, 100%, 50%), 45px -82.6666666667px hsl(93deg, 100%, 50%), 16px -229.6666666667px hsl(321deg, 100%, 50%), 127px -329.6666666667px hsl(289deg, 100%, 50%), -34px -289.6666666667px hsl(285deg, 100%, 50%), 8px -303.6666666667px hsl(178deg, 100%, 50%), 121px -372.6666666667px hsl(309deg, 100%, 50%), -6px -372.6666666667px hsl(120deg, 100%, 50%), -194px -340.6666666667px hsl(233deg, 100%, 50%), 217px -159.6666666667px hsl(71deg, 100%, 50%), 52px -2.6666666667px hsl(153deg, 100%, 50%), 211px 16.3333333333px hsl(91deg, 100%, 50%), 148px -370.6666666667px hsl(248deg, 100%, 50%), -80px -327.6666666667px hsl(217deg, 100%, 50%), -166px -404.6666666667px hsl(350deg, 100%, 50%), 116px 13.3333333333px hsl(13deg, 100%, 50%), -237px -136.6666666667px hsl(253deg, 100%, 50%), -150px -314.6666666667px hsl(223deg, 100%, 50%), -246px -98.6666666667px hsl(43deg, 100%, 50%), -66px -205.6666666667px hsl(185deg, 100%, 50%), 246px -185.6666666667px hsl(40deg, 100%, 50%), -241px 79.3333333333px hsl(229deg, 100%, 50%), -54px -282.6666666667px hsl(87deg, 100%, 50%), -165px -383.6666666667px hsl(5deg, 100%, 50%), -66px -67.6666666667px hsl(121deg, 100%, 50%), -143px -9.6666666667px hsl(217deg, 100%, 50%), -155px -338.6666666667px hsl(31deg, 100%, 50%), -6px -280.6666666667px hsl(0deg, 100%, 50%), -209px 56.3333333333px hsl(285deg, 100%, 50%), 126px -259.6666666667px hsl(193deg, 100%, 50%), 159px -28.6666666667px hsl(175deg, 100%, 50%), 188px -275.6666666667px hsl(190deg, 100%, 50%), 197px -324.6666666667px hsl(165deg, 100%, 50%), 175px -381.6666666667px hsl(18deg, 100%, 50%), -16px -157.6666666667px hsl(254deg, 100%, 50%), 108px 66.3333333333px hsl(301deg, 100%, 50%), -7px 67.3333333333px hsl(116deg, 100%, 50%), -131px -272.6666666667px hsl(277deg, 100%, 50%), 140px -102.6666666667px hsl(276deg, 100%, 50%);
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 141px -266.6666666667px hsl(337deg, 100%, 50%), 108px -47.6666666667px hsl(194deg, 100%, 50%), -227px -349.6666666667px hsl(269deg, 100%, 50%), -8px -196.6666666667px hsl(344deg, 100%, 50%), 122px -83.6666666667px hsl(195deg, 100%, 50%), -104px -246.6666666667px hsl(297deg, 100%, 50%), 36px -92.6666666667px hsl(239deg, 100%, 50%), 31px -39.6666666667px hsl(33deg, 100%, 50%), 71px -282.6666666667px hsl(189deg, 100%, 50%), 73px -48.6666666667px hsl(243deg, 100%, 50%), -72px 0.3333333333px hsl(48deg, 100%, 50%), 30px -284.6666666667px hsl(268deg, 100%, 50%), 147px -115.6666666667px hsl(354deg, 100%, 50%), 45px -82.6666666667px hsl(93deg, 100%, 50%), 16px -229.6666666667px hsl(321deg, 100%, 50%), 127px -329.6666666667px hsl(289deg, 100%, 50%), -34px -289.6666666667px hsl(285deg, 100%, 50%), 8px -303.6666666667px hsl(178deg, 100%, 50%), 121px -372.6666666667px hsl(309deg, 100%, 50%), -6px -372.6666666667px hsl(120deg, 100%, 50%), -194px -340.6666666667px hsl(233deg, 100%, 50%), 217px -159.6666666667px hsl(71deg, 100%, 50%), 52px -2.6666666667px hsl(153deg, 100%, 50%), 211px 16.3333333333px hsl(91deg, 100%, 50%), 148px -370.6666666667px hsl(248deg, 100%, 50%), -80px -327.6666666667px hsl(217deg, 100%, 50%), -166px -404.6666666667px hsl(350deg, 100%, 50%), 116px 13.3333333333px hsl(13deg, 100%, 50%), -237px -136.6666666667px hsl(253deg, 100%, 50%), -150px -314.6666666667px hsl(223deg, 100%, 50%), -246px -98.6666666667px hsl(43deg, 100%, 50%), -66px -205.6666666667px hsl(185deg, 100%, 50%), 246px -185.6666666667px hsl(40deg, 100%, 50%), -241px 79.3333333333px hsl(229deg, 100%, 50%), -54px -282.6666666667px hsl(87deg, 100%, 50%), -165px -383.6666666667px hsl(5deg, 100%, 50%), -66px -67.6666666667px hsl(121deg, 100%, 50%), -143px -9.6666666667px hsl(217deg, 100%, 50%), -155px -338.6666666667px hsl(31deg, 100%, 50%), -6px -280.6666666667px hsl(0deg, 100%, 50%), -209px 56.3333333333px hsl(285deg, 100%, 50%), 126px -259.6666666667px hsl(193deg, 100%, 50%), 159px -28.6666666667px hsl(175deg, 100%, 50%), 188px -275.6666666667px hsl(190deg, 100%, 50%), 197px -324.6666666667px hsl(165deg, 100%, 50%), 175px -381.6666666667px hsl(18deg, 100%, 50%), -16px -157.6666666667px hsl(254deg, 100%, 50%), 108px 66.3333333333px hsl(301deg, 100%, 50%), -7px 67.3333333333px hsl(116deg, 100%, 50%), -131px -272.6666666667px hsl(277deg, 100%, 50%), 140px -102.6666666667px hsl(276deg, 100%, 50%);
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 141px -266.6666666667px hsl(337deg, 100%, 50%), 108px -47.6666666667px hsl(194deg, 100%, 50%), -227px -349.6666666667px hsl(269deg, 100%, 50%), -8px -196.6666666667px hsl(344deg, 100%, 50%), 122px -83.6666666667px hsl(195deg, 100%, 50%), -104px -246.6666666667px hsl(297deg, 100%, 50%), 36px -92.6666666667px hsl(239deg, 100%, 50%), 31px -39.6666666667px hsl(33deg, 100%, 50%), 71px -282.6666666667px hsl(189deg, 100%, 50%), 73px -48.6666666667px hsl(243deg, 100%, 50%), -72px 0.3333333333px hsl(48deg, 100%, 50%), 30px -284.6666666667px hsl(268deg, 100%, 50%), 147px -115.6666666667px hsl(354deg, 100%, 50%), 45px -82.6666666667px hsl(93deg, 100%, 50%), 16px -229.6666666667px hsl(321deg, 100%, 50%), 127px -329.6666666667px hsl(289deg, 100%, 50%), -34px -289.6666666667px hsl(285deg, 100%, 50%), 8px -303.6666666667px hsl(178deg, 100%, 50%), 121px -372.6666666667px hsl(309deg, 100%, 50%), -6px -372.6666666667px hsl(120deg, 100%, 50%), -194px -340.6666666667px hsl(233deg, 100%, 50%), 217px -159.6666666667px hsl(71deg, 100%, 50%), 52px -2.6666666667px hsl(153deg, 100%, 50%), 211px 16.3333333333px hsl(91deg, 100%, 50%), 148px -370.6666666667px hsl(248deg, 100%, 50%), -80px -327.6666666667px hsl(217deg, 100%, 50%), -166px -404.6666666667px hsl(350deg, 100%, 50%), 116px 13.3333333333px hsl(13deg, 100%, 50%), -237px -136.6666666667px hsl(253deg, 100%, 50%), -150px -314.6666666667px hsl(223deg, 100%, 50%), -246px -98.6666666667px hsl(43deg, 100%, 50%), -66px -205.6666666667px hsl(185deg, 100%, 50%), 246px -185.6666666667px hsl(40deg, 100%, 50%), -241px 79.3333333333px hsl(229deg, 100%, 50%), -54px -282.6666666667px hsl(87deg, 100%, 50%), -165px -383.6666666667px hsl(5deg, 100%, 50%), -66px -67.6666666667px hsl(121deg, 100%, 50%), -143px -9.6666666667px hsl(217deg, 100%, 50%), -155px -338.6666666667px hsl(31deg, 100%, 50%), -6px -280.6666666667px hsl(0deg, 100%, 50%), -209px 56.3333333333px hsl(285deg, 100%, 50%), 126px -259.6666666667px hsl(193deg, 100%, 50%), 159px -28.6666666667px hsl(175deg, 100%, 50%), 188px -275.6666666667px hsl(190deg, 100%, 50%), 197px -324.6666666667px hsl(165deg, 100%, 50%), 175px -381.6666666667px hsl(18deg, 100%, 50%), -16px -157.6666666667px hsl(254deg, 100%, 50%), 108px 66.3333333333px hsl(301deg, 100%, 50%), -7px 67.3333333333px hsl(116deg, 100%, 50%), -131px -272.6666666667px hsl(277deg, 100%, 50%), 140px -102.6666666667px hsl(276deg, 100%, 50%);
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 141px -266.6666666667px hsl(337deg, 100%, 50%), 108px -47.6666666667px hsl(194deg, 100%, 50%), -227px -349.6666666667px hsl(269deg, 100%, 50%), -8px -196.6666666667px hsl(344deg, 100%, 50%), 122px -83.6666666667px hsl(195deg, 100%, 50%), -104px -246.6666666667px hsl(297deg, 100%, 50%), 36px -92.6666666667px hsl(239deg, 100%, 50%), 31px -39.6666666667px hsl(33deg, 100%, 50%), 71px -282.6666666667px hsl(189deg, 100%, 50%), 73px -48.6666666667px hsl(243deg, 100%, 50%), -72px 0.3333333333px hsl(48deg, 100%, 50%), 30px -284.6666666667px hsl(268deg, 100%, 50%), 147px -115.6666666667px hsl(354deg, 100%, 50%), 45px -82.6666666667px hsl(93deg, 100%, 50%), 16px -229.6666666667px hsl(321deg, 100%, 50%), 127px -329.6666666667px hsl(289deg, 100%, 50%), -34px -289.6666666667px hsl(285deg, 100%, 50%), 8px -303.6666666667px hsl(178deg, 100%, 50%), 121px -372.6666666667px hsl(309deg, 100%, 50%), -6px -372.6666666667px hsl(120deg, 100%, 50%), -194px -340.6666666667px hsl(233deg, 100%, 50%), 217px -159.6666666667px hsl(71deg, 100%, 50%), 52px -2.6666666667px hsl(153deg, 100%, 50%), 211px 16.3333333333px hsl(91deg, 100%, 50%), 148px -370.6666666667px hsl(248deg, 100%, 50%), -80px -327.6666666667px hsl(217deg, 100%, 50%), -166px -404.6666666667px hsl(350deg, 100%, 50%), 116px 13.3333333333px hsl(13deg, 100%, 50%), -237px -136.6666666667px hsl(253deg, 100%, 50%), -150px -314.6666666667px hsl(223deg, 100%, 50%), -246px -98.6666666667px hsl(43deg, 100%, 50%), -66px -205.6666666667px hsl(185deg, 100%, 50%), 246px -185.6666666667px hsl(40deg, 100%, 50%), -241px 79.3333333333px hsl(229deg, 100%, 50%), -54px -282.6666666667px hsl(87deg, 100%, 50%), -165px -383.6666666667px hsl(5deg, 100%, 50%), -66px -67.6666666667px hsl(121deg, 100%, 50%), -143px -9.6666666667px hsl(217deg, 100%, 50%), -155px -338.6666666667px hsl(31deg, 100%, 50%), -6px -280.6666666667px hsl(0deg, 100%, 50%), -209px 56.3333333333px hsl(285deg, 100%, 50%), 126px -259.6666666667px hsl(193deg, 100%, 50%), 159px -28.6666666667px hsl(175deg, 100%, 50%), 188px -275.6666666667px hsl(190deg, 100%, 50%), 197px -324.6666666667px hsl(165deg, 100%, 50%), 175px -381.6666666667px hsl(18deg, 100%, 50%), -16px -157.6666666667px hsl(254deg, 100%, 50%), 108px 66.3333333333px hsl(301deg, 100%, 50%), -7px 67.3333333333px hsl(116deg, 100%, 50%), -131px -272.6666666667px hsl(277deg, 100%, 50%), 140px -102.6666666667px hsl(276deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    box-shadow: 141px -266.6666666667px hsl(337deg, 100%, 50%), 108px -47.6666666667px hsl(194deg, 100%, 50%), -227px -349.6666666667px hsl(269deg, 100%, 50%), -8px -196.6666666667px hsl(344deg, 100%, 50%), 122px -83.6666666667px hsl(195deg, 100%, 50%), -104px -246.6666666667px hsl(297deg, 100%, 50%), 36px -92.6666666667px hsl(239deg, 100%, 50%), 31px -39.6666666667px hsl(33deg, 100%, 50%), 71px -282.6666666667px hsl(189deg, 100%, 50%), 73px -48.6666666667px hsl(243deg, 100%, 50%), -72px 0.3333333333px hsl(48deg, 100%, 50%), 30px -284.6666666667px hsl(268deg, 100%, 50%), 147px -115.6666666667px hsl(354deg, 100%, 50%), 45px -82.6666666667px hsl(93deg, 100%, 50%), 16px -229.6666666667px hsl(321deg, 100%, 50%), 127px -329.6666666667px hsl(289deg, 100%, 50%), -34px -289.6666666667px hsl(285deg, 100%, 50%), 8px -303.6666666667px hsl(178deg, 100%, 50%), 121px -372.6666666667px hsl(309deg, 100%, 50%), -6px -372.6666666667px hsl(120deg, 100%, 50%), -194px -340.6666666667px hsl(233deg, 100%, 50%), 217px -159.6666666667px hsl(71deg, 100%, 50%), 52px -2.6666666667px hsl(153deg, 100%, 50%), 211px 16.3333333333px hsl(91deg, 100%, 50%), 148px -370.6666666667px hsl(248deg, 100%, 50%), -80px -327.6666666667px hsl(217deg, 100%, 50%), -166px -404.6666666667px hsl(350deg, 100%, 50%), 116px 13.3333333333px hsl(13deg, 100%, 50%), -237px -136.6666666667px hsl(253deg, 100%, 50%), -150px -314.6666666667px hsl(223deg, 100%, 50%), -246px -98.6666666667px hsl(43deg, 100%, 50%), -66px -205.6666666667px hsl(185deg, 100%, 50%), 246px -185.6666666667px hsl(40deg, 100%, 50%), -241px 79.3333333333px hsl(229deg, 100%, 50%), -54px -282.6666666667px hsl(87deg, 100%, 50%), -165px -383.6666666667px hsl(5deg, 100%, 50%), -66px -67.6666666667px hsl(121deg, 100%, 50%), -143px -9.6666666667px hsl(217deg, 100%, 50%), -155px -338.6666666667px hsl(31deg, 100%, 50%), -6px -280.6666666667px hsl(0deg, 100%, 50%), -209px 56.3333333333px hsl(285deg, 100%, 50%), 126px -259.6666666667px hsl(193deg, 100%, 50%), 159px -28.6666666667px hsl(175deg, 100%, 50%), 188px -275.6666666667px hsl(190deg, 100%, 50%), 197px -324.6666666667px hsl(165deg, 100%, 50%), 175px -381.6666666667px hsl(18deg, 100%, 50%), -16px -157.6666666667px hsl(254deg, 100%, 50%), 108px 66.3333333333px hsl(301deg, 100%, 50%), -7px 67.3333333333px hsl(116deg, 100%, 50%), -131px -272.6666666667px hsl(277deg, 100%, 50%), 140px -102.6666666667px hsl(276deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 48%;
  }
  50% {
    background-position: 100% 53%;
  }
  100% {
    background-position: 0% 48%;
  }
}
.loader {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(133deg, #541bbd, #e12209);
  background-size: 400% 400%;
  -webkit-animation: preloaderBgAnim 6s ease infinite;
  -moz-animation: preloaderBgAnim 6s ease infinite;
  animation: preloaderBgAnim 6s ease infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
}

@-webkit-keyframes preloaderBgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes preloaderBgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes preloaderBgAnim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}/*# sourceMappingURL=style.css.map */